<section class="content-comments">
  <header class="comments-header">
    <h2 class="comments-title">Comentários</h2>
  </header>
  
  {%- if site.data.comments[page.slug] -%}
    <div class="comments-list">
      {%- for comm in site.data.comments[page.slug] -%}
        {%- assign comment = comm | last -%}
        
        <section class="comment">
          <div class="comment-body">
            {{ comment.message | strip_html | markdownify }}
          </div>
          <footer class="comment-info">
            <img class="comment-author-avatar" src="https://secure.gravatar.com/avatar/{{ comment.email }}?s=54" />
            
            <div class="comment-pub">
              <h4 class="comment-author-name">
                {%- if comment.url -%}
                  <a href="{{ comment.url }}" rel="author">
                    {{ comment.name }}
                  </a>
                {%- else -%}
                  {{ comment.name }}
                {%- endif -%}
              </h4>
              <p class="comment-meta"><time datetime="{{ comment.date | date_to_xmlschema }}">{{ comment.date | localize: site.spark.date_format.day }}</time></p>
            </div>
          </footer>
        </section>
      {%- endfor -%}
    </div>
  {%- else -%}
    <div class="comments-list">
      <p>Não há comentários para esse post. <a href="#respond">Comece uma conversa!</a></p>
    </div>
  {%- endif -%}
  
  {%- unless page.comments == "off" -%}
    <form id="respond" data-comment-form class="comment-form" method="post" action="https://api.staticman.net/v3/entry/github/{{ site.repository }}/{{ site.staticman.branch }}/comments">
      <h3 class="comment-form-title">Comente!</h3>
      <div class="comment-message-area">
        <label for="comment-message">Mensagem*:</label>
        <textarea data-comment-field id="comment-message" class="comment-message" name="fields[message]" required></textarea>
      </div>
      
      <fieldset class="comment-fields">
        <p>
          <label for="comment-author-name">Nome*:</label>
          <input data-comment-field id="comment-author-name" class="comment-field" type="text" name="fields[name]" required />
        </p>
        
        <p>
          <label for="comment-author-email">Email*:</label>
          <input data-comment-field id="comment-author-email" class="comment-field" type="email" name="fielda[email]" required />
        </p>
        
        <p>
          <label for="comment-author-url">URL:</label>
          <input data-comment-field id="comment-author-url" class="comment-field" type="url" name="fields[url]" />
        </p>
      </fieldset>
      
      <p data-comment-feedback class="hidden comment-feedback">
      </p>
      
      <p class="comment-submit">
        <input type="hidden" name="options[slug]" value="{{ page.slug }}" />
        <button data-comment-send type="submit">Enviar comentário</button>
      </p>
      
      {%- if site.spark.comments_notice -%}
        <div class="comments-notice">
          {{ site.spark.comments_notice | markdownify }}
        </div>
      {%- endif -%}
    </form>
  {%- endunless -%}
</section>