<footer class="site-footer">
  <div class="colophon">
    {%- if site.logo -%}
      <a href="{{- site.url -}}" rel="index">
        <img class="site-logo" src="{{- site.logo -}}" alt="{{- site.title -}}" />
      </a>
    {%- else -%}
      <p class="site-title">
        <a href="{{ site.url }}" rel="index">
          {{- site.title -}}
        </a>
      </p>
    {%- endif -%}

    <p class="site-description">{{ site.tagline }}</p>
  </div>

  {%- if site.spark.disclaimer -%}
    <div class="disclaimer">
      {{ site.spark.disclaimer | markdownify }}
    </div>
  {%- endif -%}
</footer>
