<header class="site-header">
  <div class="branding">
    {%- if site.logo -%}
      {%- if page.title -%}
        <div class="site-title">
          <a href="{{- site.url -}}" rel="index">
            <img src="{{- site.logo -}}" alt="{{- site.title -}}" />
          </a>
        </div>
      {%- else -%}
        <h1 class="site-title">
          <a href="{{- site.url -}}" rel="index">
            <img src="{{- site.logo -}}" alt="{{- site.title -}}" />
          </a>
        </h1>
      {%- endif -%}
    {%- else -%}
      {%- if page.title -%}
        <div class="site-title">
          <a href="{{- site.url -}}" rel="index">{{ site.title }}</a>
        </div>
      {%- else -%}
        <h1 class="site-title">
          <a href="{{- site.url -}}" rel="index">{{ site.title }}</a>
        </h1>
      {%- endif -%}
    {%- endif -%}
  </div>

  <nav class="site-navigation">
    {%- if site.data.menus.main -%}
      <div class="site-menu">
        {%- for item in site.data.menus.main -%}
          <a class="menu-item" href="{{ item.url }}" {% if item.external %}rel="external"{%- endif -%}>
            {{- item.title -}}
          </a>
        {%- endfor -%}
      </div>
    {%- endif -%}

    <form class="search-form" action="//duckduckgo.com" method="get">
      <input class="search-terms" type="search" name="q" placeholder="Pesquisar no site" />
      <button class="search-submit" type="submit">
        <svg class="svg-icon" role="img">
          <title>Pesquisar</title>
          <use xlink:href="{{ '/assets/icons/ui.svg#search' | relative_url }}" />
        </svg>
      </button>
    </form>
  </nav>
</header>
