---
layout: blog
title: Arquivo de notícias
permalink: "/noticias/arquivo/"
---

<p>Existem <strong>{{ site.posts | size }}</strong> notícias no Esporo, a grande maioria relacionada aos jogos _Spore_. Nessa página você pode conferir uma lista completa com todos os posts ordenados por data, iniciando pelo mais recente.</p>

{% for post in site.posts %}
   {% assign currentDate = post.date | date: "%Y" %}
   {% if currentDate != myDate %}
     {% unless forloop.first %}</ol>{% endunless %}
     <hr />
     <h2>{{ currentDate }}</h2>
     <ol reversed>
     {% assign myDate = currentDate %}
   {% endif %}
     <li>
       <b><time class="" datetime="{{ post.date | date: "date_to_xmlschema" }}">{{ post.date | date: "%d/%m" }}</time>:</b>
       <a href="{{ post.url }}">{{ post.title }}</a>
     </li>
   {% if forloop.last %}</ol>{% endif %}
 {% endfor %}
