---
layout: default
---
<section class="banner">
  <h1>{{ site.tagline }}</h1>

  <div class="featured-boxes">
    <a href="{{ '/noticias/' | relative_url }}">
      {% include elements/symbol.svg id="telescope" role="presentation" %} Descubra novidades
      <span>Notícias {% include elements/symbol.svg id="next" role="presentation" %}</span>
    </a>
    <a href="{{ '/forum/' | relative_url }}">
      {% include elements/symbol.svg id="alien" role="presentation" %}
      Estabeleça contato
      <span>Fórum {% include elements/symbol.svg id="next" role="presentation" %}</span>
    </a>
    <a href="#" class="unavailable">
      {% include elements/symbol.svg id="galaxy" role="presentation" %}
      Explore a Galáxia
      <span>Em breve</span>
    </a>
  </div>
</section>

<div class="blog-container">
  <section class="blog">
    <h1>Últimas notícias</h1>

    <div class="posts-list">
      {% for post in site.posts limit: 5 %}
      <article class="post">
        <a href="{{ post.url | relative_url }}" rel="bookmark">
          {% if post.image %}
          <img src="{{ post.image.path }}" alt="{{ post.image.alt }}" />
          {% endif %}
          <div class="post-details">
            <h2 class="post-title">{{ post.title }}</h2>
            <span class="post-meta">
              <time datetime="{{ post.date | date: date_to_xmlschema }}">{{ post.date | date: "%d/%m/%Y" }}</time>
            </span>

            <p>{{ post.excerpt | strip_html }}</p>
          </div>
        </a>
      </article>
      {% endfor %}
    </div>

    <nav class="nav-links">
      <a class="rss-link" href="{{ '/feed.xml' | absolute_url }}">{% include elements/symbol.svg id="rss" role="presentation" title="Feed RSS" %} Assine o RSS</a>
      <a class="archive-link" href="{{ '/noticias/' | relative_url }}">Todas as notícias</a>
    </nav>
  </section>

  {% include sidebar.html %}
</div>
