---
title: Notícias
layout: blog
pagination:
  enabled: true
---
{% for post in paginator.posts %}
  {% include post.html %}
{% endfor %}

<nav class="blog-navigation">
  {% if paginator.previous_page %}
  <a class="nav-link prev-page" href="{{ paginator.previous_page_path | relative_url }}" rel="prev">{% include elements/symbol.svg id="prev" role="presentation" %} Recentes</a>
  {% else %}
  <span class="nav-link prev-page">{% include elements/symbol.svg id="prev" role="presentation" %} Recentes</span>
  {% endif %}

  {% if paginator.next_page %}
  <a class="nav-link next-page" href="{{ paginator.next_page_path | relative_url }}" rel="next">Anteriores {% include elements/symbol.svg id="next" role="presentation" %}</a>
  {% else %}
  <span class="nav-link next-page">Anteriores {% include elements/symbol.svg id="next" role="presentation" %}</span>
  {% endif %}
</nav>
