@font-face {
  font-family: 'Proxima Nova Lt';
  src: url('/assets/fonts/esporo-body-300.woff2') format('woff2'),
      url('/assets/fonts/esporo-body-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'esporo-body';
  src: url('/assets/fonts/esporo-body-700.woff2') format('woff2'),
      url('/assets/fonts/esporo-body-700.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'esporo-body';
  src: url('/assets/fonts/esporo-body-300i.woff2') format('woff2'),
      url('/assets/fonts/esporo-body-300i.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'esporo-body';
  src: url('/assets/fonts/esporo-body-700i.woff2') format('woff2'),
      url('/assets/fonts/esporo-body-700i.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'esporo-body';
  src: url('/assets/fonts/esporo-body-400.woff2') format('woff2'),
      url('/assets/fonts/esporo-body-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'esporo-body';
  src: url('/assets/fonts/esporo-body-400i.woff2') format('woff2'),
      url('/assets/fonts/esporo-body-400i.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SPORE';
  src: url('/assets/fonts/Spore-Regular.woff2') format('woff2'),
      url('/assets/fonts/Spore-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SPORE';
  src: url('/assets/fonts/Spore-Light.woff2') format('woff2'),
      url('/assets/fonts/Spore-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SPORE';
  src: url('/assets/fonts/Spore-Bold.woff2') format('woff2'),
      url('/assets/fonts/Spore-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

