/*
  Basic structure.
*/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "banner"
    "content"
    "footer";
  grid-gap: var(--spacing-unit);
  margin-top: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
  background-image: url("/assets/images/galaxy.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
  & > header {
    grid-area: banner;
  }
  
  & > main {
    grid-area: content;
  }
  
  & > footer {
    grid-area: footer;
  }
  
  & > * {
    width: 100vw;
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--spacing-unit) / 2);
    padding-right: calc(var(--spacing-unit) / 2);
  }
}

/*
  Site Header
*/

.site_header {
  padding-top: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
  font-family: var(--font-family-headline);
  
  // Title and tagline
  
  .branding {
    margin-bottom: var(--spacing-unit);
    text-align: center;
    
    .site_title {
      font-size: calc(var(--font-size-base) * 2);
      color: var(--color-background);
      font-weight: bolder;
      
      a {
        color: currentColor;
        text-decoration: none;
        
        img {
          max-width: 250px;
        }
      }
    }
    
    .site_tagline {
      font-size: 1.25rem;
      font-weight: 400;
      color: var(--color-background);
      letter-spacing: 0.05em;
      text-shadow:
       -0.1rem -0.1rem 0 var(--color-accent-alternate),  
        0.1rem -0.1rem 0 var(--color-accent-alternate),
        -0.1rem 0.1rem 0 var(--color-accent-alternate),
         0.1rem 0.1rem 0 var(--color-accent-alternate);
      
      @media screen and (prefers-color-scheme: dark) {
        color: var(--color-text);
      }
    }
  }
  
  // Menu
  
  .main_menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    
    .menu_item {
      display: inline-block;
      flex: 0 0 auto;
      font-weight: 400;
      font-size: 1.125rem;
      letter-spacing: 0.05em;
      background-color: var(--color-accent);
      border-radius: 15px;
      position: relative;
      padding: calc(var(--spacing-unit) / 6) calc(var(--spacing-unit) / 2);
      margin: 0 calc(var(--spacing-unit) / 2) calc(var(--spacing-unit) / 2);
      
      .item_label {
        color: var(--color-background);
        opacity: 0.7;
        transition: opacity 250ms ease;
        
        @media screen and (prefers-color-scheme: dark) {
          color: var(--color-text);
        } 
      }
      
      &:hover,
      &:focus {
        text-decoration: none;
        
        .item_label {
          opacity: 1;
        }
      }
      
      &:first-child {
        margin-left: var(--spacing-unit);
      }
    }
  }
}

/*
  Site Content
*/

.site_content {
  display: grid;
  grid-gap: calc(var(--spacing-unit) * 1.5);
  grid-template-areas:
    "aside"
    "content"
    "sidebar";
    
  @media screen and (min-width: $on-laptop) {
    grid-template-rows: repeat(3, min-content);
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "content aside"
      "content sidebar";
  }
  
  @media screen and (min-width: $on-desktop) {
    grid-template-columns: 3fr 1fr;
  }
  
  & > .primary_content {
    grid-area: content;
    
    @media screen and (min-width: $on-laptop) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: -1;
    }
  }
  
  & > .primary_sidebar {
    grid-column-start: content-start;
    grid-area: aside;
    height: auto;
  }
  
  & > .custom_sidebar {
    grid-column-start: aside-end;
    grid-area: sidebar;
    height: auto;
  }
}

// Content

.content {
  background: var(--color-background);
  padding: calc(var(--spacing-unit) / 2);
  
  @media screen and (min-width: $on-laptop) {
    padding: var(--spacing-unit);
  }
  
  @media screen and (min-width: $on-desktop) {
    padding: calc(var(--spacing-unit) * 2);
  }
}

// Sidebars

.sidebar {
  background: var(--color-background);
  padding: calc(var(--spacing-unit) / 2);
  
  @media screen and (min-width: $on-laptop) {
    padding: var(--spacing-unit);
  }
}
