---
---

$on-palm: 600px;
$on-laptop: 800px;
$on-desktop: 1200px;

:root {
  // Colors
  --color-text: rgb(1, 1, 5);
  --color-accent: rgb(45, 158, 221);
  --color-accent-alternate: rgb(35, 97, 167);
  --color-details: rgb(149, 149, 153);
  --color-background: rgb(245, 245, 245);
  
  // Typography
  --font-size-base: 1rem;
  --font-size-small: 0.875rem;
  --font-line-height: 1.6;
  --font-weight-base: 300;
  --font-family-body: "esporo-body", sans-serif;
  --font-family-headline: 'SPORE', sans-serif;
  
  // Structure
  --spacing-unit: 1.5rem;
  --content-width: 1200px;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: rgb(234, 238, 241);
    --color-details: rgb(108, 109, 113);
    --color-background: rgb(1, 1, 5);
  }
}

@import "fonts";

@import "base", "layout";
