body {
  font: 400 #{$font-size-base}/#{$font-line-height} $font-family-main;
  color: $color-text;
}

/*
    Text Elements
*/
p, ul, ol, dl,
pre, blockquote,
figure, audio, video,
iframe, embed, object,
address, table {
  margin: $spacing-unit / 2 0;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

// Links
a {
  color: $color-accent;
  transition: color 0.3s ease;
  text-decoration: none;

  svg {
    fill: $color-accent;
    transition: fill 0.3s ease;
  }

  &:hover,
  &:focus {
    color: $color-details;

    svg {
      fill: $color-details;
    }
  }
}

// Lists
ul, ol, dl {
  padding-left: $spacing-unit;

  li {
    margin: $spacing-unit / 4 0;
  }
}

ul {
  list-style: disc;

  ul {
    list-style: square;
  }
}

ol {
  list-style: decimal;

  ol {
    list-style: lower-alpha;
  }
}

// Headings
h1, h2, h3,
h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1;
  margin: $spacing-unit / 2 0;
}

h1 {
  font-size: $font-size-base * 2;
}

h2 {
  font-size: $font-size-base * 1.75;
}

h3 {
  font-size: $font-size-base * 1.5;
}

h4 {
  font-size: $font-size-base * 1.25;
}

h5 {
  font-size: $font-size-base;
}

h6 {
  font-size: $font-size-base * 0.75;
}

// Media
img {
  box-shadow: 0 0 .25rem rgba($color-details, 0.6);
  border-radius: .3rem;
  max-width: 100%;
}

a > img {
  border: .1rem solid $color-accent;

  &:hover,
  &:focus {
    border: .1rem solid $color-details;
  }
}
