@font-face {
  font-family: Muli;
  src: url("fonts/muli-400.woff2") format("woff2"),
       url("fonts/muli-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("fonts/muli-400i.woff2") format("woff2"),
       url("fonts/muli-400i.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url("fonts/muli-300.woff2") format("woff2"),
       url("fonts/muli-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("fonts/muli-300i.woff2") format("woff2"),
       url("fonts/muli-300i.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Muli;
  src: url("fonts/muli-700.woff2") format("woff2"),
       url("fonts/muli-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Muli;
  src: url("fonts/muli-700i.woff2") format("woff2"),
       url("fonts/muli-700i.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Spore;
  src: url("fonts/spore-400.woff2") format("woff2"),
       url("fonts/spore-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Spore;
  src: url("fonts/spore-300.woff2") format("woff2"),
       url("fonts/spore-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Spore;
  src: url("fonts/spore-700.woff2") format("woff2"),
       url("fonts/spore-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url("fonts/inconsolata-400.woff2") format("woff2"),
       url("fonts/inconsolata-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: Inconsolata;
  src: url("fonts/inconsolata-700.woff2") format("woff2"),
       url("fonts/inconsolata-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
