.game {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;

  .game-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit * 2;
    width: 25rem;
    height: 10rem;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
    color: transparent;

    @include on-laptop {
      margin-top: 20rem;
    }
  }

  .game-description {
    max-width: $content-width;
    margin: 0 auto $spacing-unit;

    h1 {
      text-align: center;
      font-weight: 300;
      margin-bottom: $spacing-unit;
    }

    ul {
      padding-left: 0;
      list-style: none;

      li {
        margin-bottom: $spacing-unit / 2;

        strong {
          font-size: 105%;
        }
      }
    }
  }

  .game-store {
    text-align: center;
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
    padding: $spacing-unit 0;

    a {
      @extend %button;

      @include on-palm {
        display: block;
        width: 60%;
        margin: 0 auto;

        &:not(:last-child) {
          margin-bottom: $spacing-unit / 2;
        }
      }

      svg {
        height: calc(#{$font-size-small} * #{$font-line-height});
        max-width: calc(#{$font-size-small} * #{$font-line-height});
        vertical-align: -0.5rem;
      }
    }

    .origin {
      background: linear-gradient(to bottom, #F56C2D, darken(#F56C2D, 15%));

      &:hover,
      &:focus {
        background: linear-gradient(to bottom, lighten(#F56C2D, 15%), #F56C2D);
      }
    }

    .gog {
      background: linear-gradient(to bottom, #a467b9, darken(#a467b9, 15%));

      &:hover,
      &:focus {
        background: linear-gradient(to bottom, lighten(#a467b9, 15%), #a467b9);
      }
    }

    .steam {
      background: linear-gradient(to bottom, lighten(#000, 25%), #000);

      &:hover,
      &:focus {
        background: linear-gradient(to bottom, lighten(#000, 45%), lighten(#000, 25%));
      }
    }

    &.retired {
      font-size: calc(#{$font-size-base} * 1.25);

      time {
        font-weight: 300;
      }
    }
  }

  .game-links {
    @extend %featured-links;
    margin: $spacing-unit * 2 0;
    padding: $spacing-unit 0;

    h2 {
      font-weight: 300;

      strong {
        font-weight: 400;
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      font-size: $font-size-base;
      text-align: left;
      padding: $spacing-unit / 2;
      line-height: 1.5;

      &:not(:first-child),
      &:not(:last-child) {
        margin: $spacing-unit / 4;
      }

      a > svg {
        max-height: 5rem;
        max-width: 5rem;
        float: left;
        margin-right: $spacing-unit / 2;
        vertical-align: top;
      }
    }
  }

  .game-directory-link {
    margin-bottom: $spacing-unit * 2;
    text-align: center;
    font-size: calc(#{$font-size-base} * 1.5);
    font-family: $font-family-headings;
    font-weight: 300;

    strong {
      font-weight: 400;
    }

    svg {
      height: 5rem;
      max-width: 5rem;
      vertical-align: middle;
      margin-right: $spacing-unit / 2;
    }
  }

  &#spore {
    .game-logo {
      height: 6.5rem;
    }
  }

  &#spore-criador-de-criaturas,
  &#spore-aventuras-galacticas {
    .game-logo {
      width: 30rem;
    }
  }

  &#darkspore {
    .game-logo {
      width: 35rem;
      height: 4rem;
    }
  }
}

.game-card {
  background-size: cover;
  background-position: center center;
  border-radius: 0.3rem;
  box-shadow: 0 0 .25rem rgba($color-details, 0.6);
  vertical-align: top;
  margin-bottom: $spacing-unit;

  @include on-laptop {
    display: inline-block;
    width: 100%;
    max-width: calc(#{33%} - #{$spacing-unit});

    &:not(:nth-child(3n)) {
      margin-right: $spacing-unit;
    }
  }

  .card-layer {
    background: linear-gradient(to bottom, rgba($color-text, 0.6), rgba($color-text, 0.2));
    padding: $spacing-unit;

    .game-title {
      font-size: 0;
      color: transparent;
      text-align: center;

      a {
        display: inline-block;
        width: 100%;
        max-width: 28rem;
        height: 7rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .game-info {
      color: $color-background;
      font-size: $font-size-small;
      background: rgba($color-text, 0.35);
      padding: $spacing-unit / 4;
      box-shadow: 0 0.1rem 0.3rem rgba($color-text, 0.25);
      text-align: center;
      max-width: $palm-width;
      margin: 0 auto;
      list-style: none;

      li {
        svg {
          fill: $color-background;
          max-width: calc(#{$font-size-small} * #{$font-line-height});
          max-height: calc(#{$font-size-small} * #{$font-line-height});
          vertical-align: middle;
          cursor: help;
        }
      }
    }
  }
}
