/*
    Basic styling
*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  @extend %container;
}

/*
    Site Header
*/
.masthead {
  background: $color-background;
  box-shadow: inset 0 -0.3rem 0.5rem rgba($color-details, 0.3);
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  .site-title {
    display: inline-block;
    height: 3rem;
    width: 10rem;

    svg {
      height: inherit;
      width: inherit;
    }
  }

  .main-menu {
    float: right;
    font: 700 #{$font-size-small}/#{3rem} $font-family-main;

    a {
      &:not(:last-child) {
        margin-right: $spacing-unit;
      }
    }
  }

  @include on-palm {
    .site-title {
      display: block;
      margin: 0 auto $spacing-unit / 2;
    }

    .main-menu {
      float: none;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: scroll;
      margin-right: -$spacing-unit / 2;
      margin-left: -$spacing-unit / 2;
      padding: $spacing-unit / 2;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      a {
        flex: 0 0 auto;
      }
    }
  }
}
