/*
    Basic Styling
*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  @extend %container;
}

/*
    Site Header
*/
.masthead {
  background-color: $color-background;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  @include on-palm {
    text-align: center;
  }

  @extend %clearfix;

  .site-title {
    line-height: 0;
    display: inline-block;

    svg {
      height: 3.2rem;
      max-width: 11.5rem;
      fill: $color-accent;
    }
  }

  .main-menu {
    float: right;
    font-size: $font-size-small;
    line-height: 3.2rem;

    a {
      &:not(:last-child) {
        margin-right: $spacing-unit;
      }
    }

    @include on-palm {
      float: none;
      display: flex;
      flex-flow: row nowrap;
      overflow-x: auto;
      margin-left: -$spacing-unit / 2;
      margin-right: -$spacing-unit / 2;
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;

      a {
        flex: 0 0 auto;
      }
    }
  }
}
