// Media queries
@mixin on-palm {
  @media screen and (max-width: $palm-width) {
    @content;
  }
}

@mixin on-laptop {
  @media screen and (min-width: $palm-width) {
    @content;
  }
}

@mixin action-link($bgcolor: $color-background, $forecolor: $color-text, $activecolor: $color-alternate) {
  background: $bgcolor;
  padding: $spacing-unit / 4;
  text-align: center;
  font: 400 #{$font-size-small}/#{$font-line-height} $font-family-main;
  color: $forecolor;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 0 .1rem .5rem rgba($color-text, 0.2);

  svg {
    fill: $forecolor;
    height: $font-size-small;
    width: $font-size-small;
    vertical-align: middle;

    &:first-child {
      margin-right: $spacing-unit / 4;
    }

    &:last-child {
      margin-left: $spacing-unit / 4;
    }
  }

  &:hover,
  &:focus {
    color: $activecolor;

    svg {
      fill: $activecolor;
      filter: drop-shadow(0 0 3rem $forecolor);
    }
  }
}

// Wrapper
%container {
  width: 100%;
  max-width: calc(#{$wrapper-width} - #{$spacing-unit});
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  margin-left: auto;
  margin-right: auto;

  @extend %clearfix;
}

// Cleafix
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
