@mixin on-palm {
  @media screen and (max-width: $palm-width) {
    @content;
  }
}

@mixin on-laptop {
  @media screen and (min-width: $palm-width) {
    @content;
  }
}

%container {
  max-width: calc(#{$wrapper-width} + #{$spacing-unit * 2});
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-left: auto;
  margin-right: auto;

  @include on-palm {
    max-width: calc(#{$wrapper-width} + #{$spacing-unit});
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%button,
%button:active {
  display: inline-block;
  height: calc(#{$font-size-base} * 2);
  line-height: calc(#{$font-size-base} * 2);
  font-size: $font-size-small;
  font-weight: 700;
  box-shadow: 0 0 0 .1rem rgba($color-text, -.25), 0 .1rem .3rem rgba($color-text, 0.3);
  border-radius: .3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background: linear-gradient(to bottom, $color-accent, $color-details);
  color: $color-background;

  svg {
    height: $font-size-small;
    max-width: $font-size-small;
    vertical-align: -.15rem;
    fill: $color-background;

    &:first-child {
      margin-right: $spacing-unit / 4;
    }

    &:last-child {
      margin-left: $spacing-unit / 4;
    }
  }

  &:hover,
  &:focus {
    background: linear-gradient(to bottom, lighten($color-accent, 5%), lighten($color-details, 5%));
    text-decoration: none;
  }
}
