---
layout: default
---
<div class="blog">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>

  <div class="posts-list">
    {% for post in paginator.posts %}
    {% include post.html %}
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <nav class="nav-links">
    {% if paginator.previous_page %}
      <a class="previous-page" href="{{ paginator.previous_page_path | relative_url }}" rel="prev">Notícias recentes</a>
    {% else %}
      <span class="previous-page">Notícias recentes</span>
    {% endif %}

    {% if paginator.next_page %}
      <a class="next-page" href="{{ paginator.next_page_path | relative_url }}" rel="next">Notícias anteriores</a>
    {% else %}
      <span class="next-page">Notícias anteriores</span>
    {% endif %}
  </nav>
  {% endif %}
</div>

{% include sidebar.html %}
