<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main id="{{ page.title | slugify: 'latin' | default: 'home' }}" class="content wrapper {{ page.layout | prepend: 'layout-' }}" {% if page.layout == 'game' %}style="background-image: url('{{ page.title | slugify: 'latin' | prepend: '/assets/images/games/backdrops/' | append: '.jpg' | absolute_url }}');"{% endif %}>
      {{ content }}
    </main>

    {% include footer.html %}

    <script type="text/javascript" src="{{ '/assets/scripts/scripts.js' | absolute_url }}"></script>
  </body>
</html>
