---
layout: default
---

<a class="game-logo" href="{{ page.url | absolute_url }}" rel="bookmark">{{ page.title }}</a>

<article class="game-description">
  {{ content }}
</article>

{% if page.store %}
<aside class="game-store">
  {% if page.store.origin %}
    <a class="buy-button origin" href="{{ page.store.origin }}" rel="external">{% include elements/symbol.svg id="origin" title="EA Origin" role="presentation" %} Comprar na Origin</a>
  {% endif %}
  {% if page.store.gog %}
    <a class="buy-button gog" href="{{ page.store.gog }}" rel="external">{% include elements/symbol.svg id="gog" title="GOG" role="presentation" %} Comprar no GOG</a>
  {% endif %}
  {% if page.store.steam %}
    <a class="buy-button steam" href="{{ page.store.steam }}" rel="external">{% include elements/symbol.svg id="steam" title="Steam" role="presentation" %} Comprar na Steam</a>
  {% endif %}
</aside>
{% endif %}

<section class="game-links">
  <h2>Saiba mais sobre <strong>Spore</strong></h2>

  <ul class="featured">
    <li>
      <a href="{{ page.meta.news }}">
        {% include elements/symbol.svg id="telescope" role="presentation" %}
        Últimas novidades
        <span>Arquivo de notícias {% include elements/symbol.svg id="next" role="presentation" %}</span>
      </a>
    </li>
    <li>
      <a href="{{ page.meta.forum }}">
        {% include elements/symbol.svg id="ufo" role="presentation" %}
        Participe da conversa
        <span>Fórum {% include elements/symbol.svg id="next" role="presentation" %}</span>
      </a>
    </li>
    <li>
      <a class="soon" href="javascript:void(0);">
        {% include elements/symbol.svg id="stars" role="presentation" %}
        Mais informações
        <span>Em breve</span>
      </a>
    </li>
  </ul>
</section>

<section class="game-directory-link">
  <h1>Explore a <strong>Galáxia Spore</strong></h1>

  <a href="{{ '/jogos/' | relative_url }}">
    {% include elements/symbol.svg id="solar-system" role="presentation" %}


  </a>
</section>
