<section class="stats widget">
  <h1>Esporísticas</h1>

  <table class="stats large-stats">
    <thead>
      <tr>
        <th>Criações enviadas</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td id="totalUploads"></td>
      </tr>
    </tbody>
  </table>

  <table class="stats small-stats">
    <thead>
      <tr>
        <th colspan="2">Hoje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="dayUploads"></td>
        <td id="dayUsers"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Criações</th>
        <th>Jogadores</th>
      </tr>
    </tfoot>
  </table>

  <table class="stats large-stats">
    <thead>
      <tr>
        <th>Usuários registrados</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="totalUsers"></td>
      </tr>
    </tbody>
  </table>

  <p>Feito com o <a href="http://www.spore.com/comm/developer" rel="external">Spore API</a>.</p>
</section>
<script async src="{{ '/assets/scripts/stats.js' }}"></script>
