<footer class="colophon">
  <div class="wrapper">
    <div class="relative-links">
      <nav class="meta-links">
        <a href="{{ '/sobre/' | relative_url }}">Sobre</a>
        <a href="{{ '/sobre/contato/' | relative_url }}">Contato</a>
        <a href="https://esporo.net/forum/d/1-regras-do-f-rum">Regras</a>
      </nav>

      <nav class="brand-links">
        <a href="https://www.ea.com/" rel="external">EA</a>
        <a href="https://www.maxis.com/" rel="external">Maxis</a>
        <a href="http://www.spore.com/" rel="external">Spore.com</a>
      </nav>
    </div>
  </div>
</footer>
