<footer class="colophon">
  <div class="wrapper">
    <div class="relative-links">
      <nav class="meta-links">
        <a href="{{ '/sobre/' }}">Sobre</a>
        <a href="{{ '/sobre/contato/' }}">Contato</a>
        <a href="{{ '/sobre/regras/' }}">Regras</a>
      </nav>

      <nav class="brand-links">
        <a href="https://www.ea.com/" rel="external">EA</a>
        <a href="https://www.maxis.com/" rel="external">Maxis</a>
        <a href="http://www.spore.com/" rel="external">Spore.com</a>
      </nav>
    </div>

    <p class="terms">
      Esse site foi criado sob os termos para fã-sites da Electronic Arts usando materiais de <strong>SPORE</strong>. Marcas registradas são propriedade de seus respectivos autores. Materiais de jogo &copy; Electronic Arts Inc. e/ou seus licenciados. A Electronic Arts não endossam nem se responsabilizam pela operação ou conteúdo desse site.<br />
      <a href="{{ '/humans.txt' }}" title="As pessoas responsáveis pelo site e as tecnologias utilizadas." rel="author">humans.txt</a>
    </p>
  </div>
</footer>
