<head>
  <meta charset="{{ site.encoding }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% if page.title %}{{ page.title | markdownify | strip_html }} – {{ site.name }}{% else %}{{ site.name }} – {{ site.tagline }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | normalize_whitespace | truncate: 140 | default: site.description }}" />

  <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | relative_url }}" />
  
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5acf65ad386012282e9665c4');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>

  {% feed_meta %}
  {% seo %}
  
  {% include head/favicons.html %}
</head>
