<header class="masthead">
  <div class="wrapper">
    <a href="{{ site.url | absolute_url }}" class="site-title">
      {% include elements/symbol.svg id="logo" title=site.name %}
    </a>

    <nav class="main-menu">
      <a href="{{ '/noticias/' | relative_url}}">Notícias</a>
      <a href="{{ '/jogos/spore/' | absolute_url }}">O que é Spore?</a>
      <a href="{{ '/forum/' | absolute_url }}">Fórum</a>
      <a href="{{ '/guia/' | absolute_url }}">Guia Galáctico</a>
      <a href="{{ '/downloads/' | absolute_url }}">Downloads</a>
    </nav>
  </div>
</header>
