<aside class="sidebar">
  <nav class="social-links widget">
    <a class="rss-link" href="{{ '/feed.xml' | absolute_url }}">
      {% include elements/symbol.svg id="rss" role="img" title="Assinar o RSS" %}
    </a>
    <a class="twitter-link" href="https://twitter.com/esporo" rel="external">
      {% include elements/symbol.svg id="twitter" role="img" title="Seguir no Twitter" %}
    </a>
    <a class="facebook-link" href="https://www.facebook.com/esporo" rel="external">
      {% include elements/symbol.svg id="facebook" role="img" title="Curtir página no Facebook" %}
    </a>
  </nav>

  {% include elements/stats.html %}
</aside>
