<aside class="sidebar">
  <nav class="social-links widget">
    <h1>Acompanhe as últimas notícias</h1>

    <a class="rss-link" href="{{ '/feed.xml' | absolute_url }}">
      {% include elements/symbol.svg id="rss" role="presentation" %} RSS
    </a>
    <a class="twitter-link" href="https://twitter.com/esporo" rel="external">
      {% include elements/symbol.svg id="twitter" role="presentation" %} Twitter
    </a>
    <a class="facebook-link" href="https://www.facebook.com/esporo" rel="external">
      {% include elements/symbol.svg id="facebook" role="presentation" %} Facebook
    </a>
  </nav>

  {% include elements/stats.html %}
</aside>
