---
layout: blog
---

<div class="archive-page">
  <header class="archive-header">
    {%- if page.date -%}
      <h1 class="archive-title">
        <span class="archive-type">Arquivos de</span><br />

        {%- if page.type == "year" -%}
          {%- assign date_format = site.spark.date_format.year -%}
        {%- elsif page.type == "month" -%}
          {%- assign date_format = site.spark.date_format.month -%}
        {%- else -%}
          {%- assign date_format = site.spark.date_format.day -%}
        {%- endif -%}

        <span class="archive-date">{{ page.date | date: date_format }}</span>
      </h1>
    {%- else -%}
      <h1 class="archive-title">
        {%- if page.type == "tag" -%}
          <span class="archive-type">Arquivo da tag:</span><br />
        {%- else -%}
          <span class="archive-type">Arquivo da categoria:</span><br />
        {%- endif -%}

        <span class="archive-name">{{ page.title }}</span>
      </h1>
    {%- endif -%}
  </header>

  <div class="archive-content">
    {%- if page.posts -%}
      {%- for post in page.posts -%}
        {%- include archives/post.html hide_contents=true  -%}
      {%- endfor -%}
    {%- else -%}
      <h3>Nenhum post encontrado.</h3>
      <p>Desculpe, mas não há posts nesse arquivo.</p>
    {%- endif -%}
  </div>
</div>
