---
layout: page
---

{{ content }}

{%- assign games_by_groups = site.games | group_by: "group" -%}

{%- for group in games_by_groups -%}

  <section class="game-group">
    <header class="group-header">
      <h2 class="group-title">{{- group.name -}}</h2>
    </header>

    <div class="group-content" data-library-gallery>
      {%- for game in group.items -%}
        <a class="game-card" href="{{ game.url }}" rel="bookmark">
          <img alt="{{- game.title -}}" src="{{- game.info.boxart -}}" />
        </a>
      {%- endfor -%}
    </div>
  </section>
{%- endfor -%}
