.archive-header {
  margin-bottom: $spacing-unit * 2;
  @include relative-font-size(0.875);
  font-weight: 600;
  color: $color-grey;
  
  &:not(:first-child) {
    margin-top: $spacing-unit * 2;
  }
  
  .archive-name,
  .archive-date {
    font-weight: 700;
    font-size: $font-size-base;
    color: $color-grey-darker;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}