/*
  Blog and archives.
*/
.blog {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @include media-query($on-palm) {
    display: block;
  }

  .blog-content {
    flex: 0 0 640px;
    max-width: 640px;
    margin-bottom: $spacing-unit * 2;

    @include media-query($on-laptop) {
      flex: 0 0 70%;
      max-width: 70%;
    }

    @include media-query($on-palm) {
      max-width: 100%;
    }

    .blog-navigation {
      margin-top: $spacing-unit * 2;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @include relative-font-size(0.75);
    }
  }

  .sidebar {
    flex: 0 0 calc(#{100%} - #{640px + $spacing-unit * 2 });
    width: calc(#{100%} - #{640px + $spacing-unit * 2 });
    margin-bottom: $spacing-unit * 2;

    @include media-query($on-laptop) {
      flex: 0 0 calc(#{30%} + $spacing-unit);
      width: 30%;
    }

    @include media-query($on-palm) {
      width: 100%;
    }

    .widget {
      @include relative-font-size(0.875);
      margin-bottom: $spacing-unit * 2;

      .widget-title {
        margin-bottom: $spacing-unit / 2;
        font-weight: 700;
        color: $color-grey-darker;
      }

      &.social-links {
        .social-link {
          display: inline-flex;
          padding: $spacing-unit / 3;
          border-radius: 50%;
          border: 1px solid $color-grey-lighter;

          &:not(:last-child) {
            margin-right: $spacing-unit / 2;
          }

          svg {
            width: 16px;
            height: 16px;
            fill: $color-grey;
          }

          &:hover,
          &:focus {
            svg {
              fill: $color-accent;
            }
          }
        }
      }

      &.categories {
        .categories-list {
          list-style: none;
          margin-left: 0;

          li {
            margin-top: $spacing-unit / 4;
            margin-bottom: $spacing-unit / 4;

            .category-title {
              font-weight: 700;
              color: $color-accent;
            }

            .category-count {
              color: $color-grey;
            }
          }
        }
      }

      &.tags {
        .widget-content {
          text-align: justify;
          hyphens: auto;
          -webkit-hyphens: auto;

          .tag-title {
            font-weight: 700;
            color: $color-accent;
          }

          .tag-count {
            color: $color-grey;
          }
        }
      }

      &.spore-stats {

        a {
          font-weight: 700;
          color: $color-accent;
        }

        .stats-list {
          list-style: none;
          margin-left: 0;
          text-align: center;
          border: 1px solid $color-grey-lighter;
          border-radius: 8px;

          li {
            padding: $spacing-unit / 4;

            &:nth-child(even) {
              background: $color-grey-lighter;
            }
          }

          ul {
            list-style: none;
            margin-left: 0;
            display: flex;
            flex-flow: row nowrap;

            li {
              flex: 0 0 50%;
            }
          }

          .stats-prop {
            @include relative-font-size(0.75);
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.1em;
          }

          .stats-value {
            display: block;
            @include relative-font-size(1.125);
          }
        }
      }
    }
  }
}
