/*
  Content
*/

.content {
  &:not(:first-child) {
    margin-top: $spacing-unit;
  }

  &:not(:last-child) {
    padding-bottom: $spacing-unit * 2;
    border-bottom: 1px solid $color-grey-lighter;
    margin-bottom: $spacing-unit * 2;
  }

  &.page {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-cover {
    text-align: center;
    margin-top: -$spacing-unit;
    margin-top: -$spacing-unit;
    margin-left: -$spacing-unit;
    margin-right: -$spacing-unit;

    @include media-query($on-palm) {
      margin-left: -$spacing-unit / 2;
      margin-right: -$spacing-unit / 2;
    }

    img {
      border-radius: 0;
    }
  }

  .content-header {
    &:not(:last-child) {
      margin-bottom: $spacing-unit;
    }

    .content-title {
      @include relative-font-size(1.5);
      font-weight: bolder;
      margin-bottom: 0;
    }
  }

  .content-footer {
    margin-top: $spacing-unit * 2;
    clear: both;
  }

  .content-header,
  .content-footer {
    .content-meta {
      @include relative-font-size(0.875);
      font-weight: 600;
      color: $color-grey;
      margin-bottom: 0;

      a {
        color: $color-grey-darker;
      }
    }
  }

  .content-body {
    a {
      font-weight: 700;
      color: $color-accent;
    }
  }
}

.content-navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;

  .content-link {
    flex: 0 0 calc(#{50%} - #{$spacing-unit / 2});

    &.nav-prev {
      margin-right: auto;
    }

    &.nav-next {
      margin-left: auto;
      text-align: right;
    }

    .content-meta {
      @include relative-font-size(0.75);
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
      color: $color-grey;
    }

    .content-title {
      color: $color-grey-darker;
      @include relative-font-size(0.875);
    }

    &:hover,
    &:focus {
      text-decoration: none;

      .content-title {
        color: $color-accent;
      }
    }
  }
}

.content-comments {

  .comments-list {
    a {
      font-weight: 700;
      color: $color-accent;
    }
  }

  .comment {
    margin-bottom: $spacing-unit;

    .comment-body {
      font-size: 85%;
      padding: $spacing-unit;
      border-radius: 8px;
      background-color: $color-grey-lighter;
      margin-bottom: $spacing-unit / 2;

      > :last-child {
        margin-bottom: 0;
      }

      &::after {
        content: " ";
        display: block;
        clear: both;
        float: none;
      }
    }

    .comment-info {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      .comment-author-avatar {
        width: 32px;
        height: 32px;
      }

      .comment-pub {
        margin-left: $spacing-unit / 2;

        .comment-author-name {
          @include relative-font-size(0.875);
          text-transform: none;
          letter-spacing: normal;
          margin-bottom: 0;
        }

        .comment-meta {
          @include relative-font-size(0.75);
          text-transform: uppercase;
          letter-spacing: 0.1em;
          margin-bottom: 0;
          color: $color-grey;
        }
      }
    }
  }

  .comment-form {
    margin-top: $spacing-unit * 2;

    label {
      font-weight: 600;
      @include relative-font-size(0.75);
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    input, textarea {
      display: block;
      border: 1px solid $color-grey-lighter;
      border-radius: 8px;
      padding: $spacing-unit / 2;
      width: 100%;
      @include relative-font-size(0.875);

      &:focus {
        border-color: $color-grey;
      }
    }

    .comment-message-area {
      margin-bottom: $spacing-unit / 2;

      textarea {
        height: 100px;
      }
    }

    .comment-fields {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      @include media-query($on-palm) {
        display: block;
      }

      p {
        flex: 0 0 calc(#{100%} / #{3} - #{$spacing-unit / 2});
        margin-bottom: $spacing-unit / 2;
      }
    }
  }

  .comment-feedback {
    padding: $spacing-unit / 2;
    border-radius: 8px;
    @include relative-font-size(0.875);
    font-weight: 700;
    margin-bottom: $spacing-unit / 2;

    &.hidden {
      display: none;
    }

    &.error {
      background: $color-grey-darker;
      color: $color-background;
    }

    &.success {
      background: $color-grey-lighter;
      color: $color-grey-darker;
    }
  }

  button[type="submit"] {
    @include relative-font-size(0.875);
    font-weight: 700;
    padding: $spacing-unit / 2;
    border-radius: 8px;
    background: $color-accent;
    border: 2px solid $color-accent;
    color: $color-background;
    cursor: pointer;
    transition: border-color 350ms ease-in-out;

    &:hover,
    &:focus {
      border-color: $color-grey-lighter;
    }
  }

  .comments-notice {
    @include relative-font-size(0.875);

    a {
      color: $color-accent;
      font-weight: 700;
    }
  }
}

.tag-cloud {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;

  .tag-title {
    font-weight: 700;
    color: $color-accent;
  }

  .tag-count {
    color: $color-grey;
  }
}
