.game {
  .game-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include media-query($on-palm) {
      flex-flow: column-reverse nowrap
    }

    .game-page {
      flex: 0 0 640px;
      max-width: 640px;
      margin-bottom: $spacing-unit * 2;
  
      @include media-query($on-laptop) {
        flex: 0 0 70%;
        max-width: 70%;
      }
  
      @include media-query($on-palm) {
        max-width: 100%;
      }
    }
  
    .game-sidebar {
      flex: 0 0 calc(#{100%} - #{640px + $spacing-unit * 2 });
      width: calc(#{100%} - #{640px + $spacing-unit * 2 });
      margin-bottom: $spacing-unit * 2;
  
      @include media-query($on-laptop) {
        flex: 0 0 calc(#{30%} + $spacing-unit);
        width: 30%;
      }
  
      @include media-query($on-palm) {
        width: 100%;
      }
    }
  }
}


.content-cover + .game-container {
  .game-boxart {
    margin-top: -80px;
  }
  
  .game-logo {
    margin-top: -90px;
    
    img {
      filter: drop-shadow(0 0 8px rgba($color-background, 0.95));
    }
  }
  
  @include media-query($on-laptop) {
    .game-logo {
      margin-top: 0;
    }
    
    .game-boxart {
      display: none;
    }
  }
}

.game-page {
  .game-logo {
    max-width: 300px;
    height: 80px;
    
    @include media-query($on-palm) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
    
    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

.game-sidebar {
  .game-boxart {
    img {
      border: 3px solid $color-grey-lighter;
      transition: border-color 350ms ease-in-out;
      
      &:hover,
      &:focus {
        border-color: $color-accent;
      }
    }
  }
  
  .info-list {
    margin-left: 0;
    list-style: none;
    border-radius: 8px;
    border: 1px solid $color-grey-lighter;
    
    li {
      display: block;
      padding: $spacing-unit / 4;
      
      &:nth-child(even) {
        background-color: $color-grey-lighter;
      }
      
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-lighter;
      }
      
      .info-prop {
        display: block;
        @include relative-font-size(0.6);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: $color-grey;
      }
      
      .info-value {
        display: block;
        @include relative-font-size(0.875);
        line-height: 1.25;
      }
    }
  }
  
  .game-links {
    border: 1px solid $color-grey-lighter;
    border-radius: 8px;
    
    a {
      display: block;
      padding: $spacing-unit / 4;
      font-weight: 600;
      transition-property: color, background-color;
      transition-duration: 350ms;
      trasnition-timing-function: ease-in-out;
      
      .svg-icon {
        width: $font-size-base;
        height: $font-size-base;
        vertical-align: middle;
      }
      
      &:nth-child(even) {
        background-color: $color-grey-lighter;
      }
      
      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      
      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      
      &:hover,
      &:focus {
        color: $color-background;
        text-decoration: none;
        background-color: $color-accent;
      }
    }
  }
}