.featured-post {
  margin-bottom: $spacing-unit * 2;
  
  .post {
    display: flex;
    align-items: center;
    margin-top: -$spacing-unit;
    margin-right: -$spacing-unit;
    justify-content: space-between;
    
    @include media-query($on-palm) {
      flex-flow: column-reverse nowrap;
      margin-right: -$spacing-unit / 2;
      
      .content-header {
        text-align: center;
      }
    }
    
    .content-cover {
      flex: 0 0 auto;
      max-width: 600px;
      
      @include media-query($on-laptop) {
        flex: 0 1 50%;
        max-width: none;
      }
      
      @include media-query($on-palm) {
        display: block;
        margin-left: -$spacing-unit / 2;
        margin-bottom: $spacing-unit;
        
        img {
          width: 100%;
        }
      }
    }
  }
}