.site-wrapper {
  max-width: $content-width;
  margin-left: auto;
  margin-right: auto;

  .site-header,
  .site-content
  .site-footer {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    @include media-query($on-palm) {
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
    }
  }
}

/*
  Header
*/

.site-header {
  .branding {
    text-align: center;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;

    .site-title {
      @include relative-font-size(2);
      font-weight: bolder;

      img {
        max-width: 150px;
      }
    }
  }

  .site-navigation {
    background: linear-gradient(to bottom, $color-accent, darken($color-accent, 25%));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: -$spacing-unit;
    margin-right: -$spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-query($on-palm) {
      margin-left: -$spacing-unit / 2;
      margin-right: -$spacing-unit / 2;
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;
    }

    .site-menu {
      flex: 1 0 auto;
      display: inline-flex;
      flex-flow: row nowrap;
      color: $color-background;
      font-weight: 600;
      text-transform: uppercase;
      @include relative-font-size(0.875);
      padding-top: $spacing-unit / 1.5;
      padding-bottom: $spacing-unit / 1.5;
      margin-right: $spacing-unit;

      a {
        flex: 0 0 auto;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $color-grey-lighter;
        }

        &:not(:last-child) {
          margin-right: $spacing-unit;
        }
      }
    }

    .search-form {
      position: relative;

      @include media-query($on-palm) {
        padding-right: $spacing-unit;
      }

      .search-terms {
        background: rgba(0, 0, 0, 0.25);
        @include relative-font-size(0.875);
        color: $color-background;
        border: none;
        border-radius: 8px;
        box-shadow: inset 0 0 2px rgba($color-text, 0.5);
        width: 200px;
        padding: $spacing-unit / 2;
        padding-left: $spacing-unit * 1.5;
      }

      .search-submit {
        line-height: 0;
        position: absolute;
        top: 50%;
        left: $spacing-unit / 4;
        background: none;
        border: none;
        transform: translateY(-50%);

        svg {
          fill: $color-grey-lighter;
          width: $font-size-base;
          height: $font-size-base;
        }
      }
    }
  }
}

/*
  Site Content
*/

.site-content {
  background-color: $color-background;
  padding: $spacing-unit;

  @include media-query($on-palm) {
  padding: $spacing-unit $spacing-unit / 2;
  }
}

@import "layouts/content",
        "layouts/blog",
        "layouts/archive",
        "layouts/home",
        "layouts/game";

/*
  Footer
*/

.site-footer {
  background: $color-grey-lighter;
  text-align: center;
  @include relative-font-size(0.875);
  color: $color-grey-darker;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit;
  border-top: 1px solid $color-grey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  @include media-query($on-palm) {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }

  .site-title {
    font-weight: 700;
  }

  .site-logo {
    width: 100px;
    filter: saturate(25) grayscale(50);
  }

  > :last-child {
    p {
      margin-bottom: 0;
    }
  }
}
